<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

    <title>Admin panel</title>

</head>

<body>

<!----------------------------------- Шапка------------------------------------------------------------------------->
<header>
    <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" id="navbarBrandAdmin">
        <!--********** СКРИПТ **********-->
    </span>
        <form th:action="@{/logout}" th:method="POST">
            <button type="submit" class="btn btn-outline-dark" style="color: lightgrey">Logout</button>
        </form>
    </nav>
</header>

<!------------------------------------------------Навигация слева------------------------------------------------------->
<!--СОЗДАЕМ ВКЛАДКИ СЛЕВА, у которых ниже раскрывающиеся блоки под id #v-pills-admin" и под id "#v-pills-user" будет панель юзера
    У вкладки Admin будут еще две вкладки: Users table с id="nav-users_table-tab" и New user id="nav-new_user-tab"-->

<div class="d-flex align-items-start"> <!--align-items-start - это выравнивание по горизонтали. start - это по верху-->

    <div class="col-2">

        <!---------------------------- Вертикальная левая панель------------------------------>
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
            </button>

            <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">User
            </button>

        </div>
    </div>

    <!--------- Содержимое справа от вертикальной левой панели----------------->
    <!--    Это то, что вызывается кнопкой Admin. Оно с id "v-pills-admin" -->
    <div class="container-fluid">
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">

                <!-------------------- Закладка Админа справа-------------->
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">

                    <p class="fw-bold fs-4">Admin panel</p>

                    <!--Это вкладки: Users table с id="nav-users_table-tab", которая вызывает блок под id "#nav-users_table" и
                    вкладка New user, которая вызывает блок под id #nav-new_user-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-users_table-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-users_table" type="button" role="tab"
                                    aria-controls="nav-users_table" aria-selected="true">Users table
                            </button>
                            <button class="nav-link" id="nav-new_user-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-new_user" type="button" role="tab" aria-controls="nav-new_user"
                                    aria-selected="false" onclick = "addNewUser()">New User
                            </button>
                        </div>
                    </nav>

                    <!--------КНОПКА TABLE USERS Список юзеров-->
                    <!--Это блок список юзеров под id #nav-users_table", который раскрывается, когда нажимаешь button "Users table" от админа-->
                    <div class="tab-content" id="nav-tabContent">

                        <!-------------- Закладка горизонтальной панели с таблицей со всеми пользователями--------->
                        <div class="tab-pane fade show active" id="nav-users_table" role="tabpanel"
                             aria-labelledby="nav-users_table-tab">

                            <h3><b>All Users</b></h3>
                            <table class="table table-striped bg-white border table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody id="tableUsers">
                                <!----Скрипт который рисует таблицу пользователей--->
                                </tbody>
                            </table>
                        </div>

                        <!-- КНОПКА NEW USER Форма для добавления нового юзера-->
                        <!--Это блок под id "#nav-new_user", который раскрывается, когда нажимаешь вторую вкладку button "New user" под id "nav-new_user-tab"-->
                        <div class="tab-pane fade" id="nav-new_user" role="tabpanel"
                             aria-labelledby="nav-new_user-tab">

                            <p>Add new user</p>

                            <div class="d-flex justify-content-center align-items-center container">
                                <form id="formNew">
                                    <div>
                                        <label for="create-username"
                                               class="form-label fw-bold">First Name</label>
                                        <input type="text" class="form-control"
                                               id="create-username"
                                               placeholder="Username"
                                               required>
                                    </div>
                                    <div>
                                        <label for="create-lastname"
                                               class="form-label fw-bold">Last Name</label>
                                        <input type="text" class="form-control"
                                               id="create-lastname"
                                               placeholder="Lastname"
                                               required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="create-age"
                                               class="form-label fw-bold">Age</label>
                                        <input type="number" class="form-control"
                                               id="create-age"
                                               placeholder="Age"
                                               required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="create-email"
                                               class="form-label fw-bold">Email</label>
                                        <input type="email" class="form-control"
                                               id="create-email"
                                               placeholder="Email"
                                               required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="create-password"
                                               class="form-label fw-bold">Password</label>
                                        <input type="text" class="form-control"
                                               id="create-password"
                                               placeholder="Password" required>
                                    </div>
                                    <span><b>Role</b></span>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            id="create-roles" required>
<!--                                        <option value="ROLE_ADMIN">ADMIN</option>-->
<!--                                        <option selected value="ROLE_USER">USER</option>-->
                                    </select>
                                    <br>
                                    <button type="submit" class="btn btn-success">
                                        Add new user
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <!---------------- Таблица с информацией о текущем пользователе-------->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="user-tab">
                    <div class="page-header" style="margin-top: 12px">
                        <h2>User information-page</h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead class="thead">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="tableAdmin">
                                <!-- СКРИПТ -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------МОДАЛЬНОЕ ОКНО ДЛЯ EDIT------------------>

<div class="modal" tabindex="-1" id="editModal"
     aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Заголовок модального окна EDIT -->
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <span aria-hidden="true">&times;</span> <!-----Это крестик---->
            </div>
            <!---- Основное содержимое модального окна EDIT -->
            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <form id="formEdit">

                            <div class="mb-3">
                                <label for="edit-id"><b>ID</b></label>
                                <input class="form-control"
                                       type="text"
                                       id="edit-id"
                                       readonly/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-username"><b>First Name</b></label>
                                <input class="form-control"
                                       type="text"
                                       id="edit-username"/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-lastname"><b>Last Name</b></label>
                                <input class="form-control"
                                       type="text"
                                       id="edit-lastname"/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-age"><b>Age</b></label>
                                <input class="form-control"
                                       type="number"
                                       id="edit-age"/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-email"><b>Email</b></label>
                                <input class="form-control"
                                       type="email"
                                       id="edit-email"/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-password"><b>Password</b></label>
                                <input class="form-control"
                                       type="text"
                                       id="edit-password"/>
                            </div>

                            <div class="mb-3">
                                <label for="edit-roles"><b>Role</b></label>
                                <select multiple class="form-control col-12"
                                        size="2"
                                        id="edit-roles">
                                    <!--                                    Скрипт&#45;&#45;-->
                                    <!--                                    <option value="ROLE_USER">USER</option>-->
                                    <!--                                    <option value="ROLE_ADMIN">ADMIN</option>-->
                                </select>
                            </div>

                            <div class="modal-footer text-end">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        id="editClose">
                                    Close
                                </button>

                                <button type="submit"
                                        class="btn btn-primary"
                                        id="editButton">
                                    Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------Модальное окно для удаления---------------------------------------------->
<!--МОДАЛЬНОЕ ОКНО ДЛЯ DELETE-->

<div class="modal" tabindex="-1" id="deleteModal"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span> <!---Это крестик-->
                </button>
            </div>

            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <form id="formDelete">

                            <div class="mb-3">
                                <label for="delete-id">
                                    <b>ID</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="text"
                                       id="delete-id">
                            </div>

                            <div class="mb-3">
                                <label for="delete-username">
                                    <b>First Name</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="text"
                                       id="delete-username"/>
                            </div>

                            <div class="mb-3">
                                <label for="delete-lastname">
                                    <b>Last Name</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="text"
                                       id="delete-lastname"/>
                            </div>

                            <div class="mb-3">
                                <label for="delete-age">
                                    <b>Age</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="number"
                                       id="delete-age"/>
                            </div>

                            <div class="mb-3">
                                <label for="delete-email">
                                    <b>Email</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="text"
                                       id="delete-email"/>
                            </div>

                            <div class="mb-3">
                                <label for="delete-password">
                                    <b>Password</b>
                                </label>
                                <input class="form-control"
                                       readonly
                                       type="text"
                                       id="delete-password"/>
                            </div>

                            <div class="mb-3">
                                <label for="delete-roles"><b>Role</b></label>
                                <select multiple class="form-control col-12"
                                        size="2"
                                        id="delete-roles">
<!--                                    <option value="USER">USER</option>-->
<!--                                    <option value="ADMIN">ADMIN</option>-->
                                </select>
                            </div>

                            <div class="modal-footer text-end">
                                <button type="button" id="deleteClose" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                    Close
                                </button>

                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Подключаем JavaScript-файл, который сами создали-->
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/tableUsers.js"></script>


<!-- Подключаем jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
                  всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
